
  <h2 class = "banner">What do you want to ask to your coach ?</h2>
  <form action="/answer" method="get">
  <input type="text" name="question" placeholder="What do you want to ask your coach ?">
  <input type="submit">
</form>
